{{!-- Post --}}
<section>
    {{!-- TODO user avatar --}}
    <h1> {{ forum.title }} </h1>
    <p> {{ forum.content }} </p>

    {{#if forum.label}}
        <h2> Labels </h2>
        <p> {{ forum.label }} </p>
    {{/if}}
    {{#if forum.clothing}}
        <h2> Clothing </h2>
        <p> {{ forum.clothing }} </p>
    {{/if}}
    {{!-- TODO tags, clothing, likes, comments  --}}
    <i class="fa fa-thumbs-up" aria-hidden="true"></i><p> {{ forum.likes.length }}</p>
    {{!-- TODO ability to like + comment --}}
    <i class="fa fa-thumbs-down" aria-hidden="true"></i><p> {{ forum.dislikes.length }}</p>
</section>
{{!-- Comments --}}
<section>
    {{!-- New Comment --}}
    <form action="/forums/{{ forum._id }}/comments" method="POST">
        <div class="form-group">
            <label for="comment" class="col-sm-2 control-label">
                New Comment
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="comment" name="comment" placeholder="New Comment" required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Comment</button>
            </div>
        </div>
    </form>
</section>
<section>
    <h2> Comments </h2>
    {{!-- Existing Comments --}}
    <ul classs="list-group">
    {{#each forum.comments }}
        <li id="{{ this._id }}" class="list-group-item">
            {{!-- TODO user avatar of person who commented --}}
            <p> {{ this.datePosted }} </p>
            <p> {{ this.content }} </p>
            {{!-- TODO ability to like --}}
            <i onclick="likeComment(event, '{{ ../forum._id }}', '{{ this._id }}')" class="fa fa-thumbs-up" aria-hidden="true"><p> {{ this.likes.length }}</p></i>
            <i onclick="dislikeComment(event, '{{ ../forum._id }}', '{{ this._id }}')" class="fa fa-thumbs-down" aria-hidden="true"><p> {{ this.dislikes.length }}</p></i>
            {{!-- TODO view subthreads  --}}
            <i class="fa fa-comments" aria-hidden="true"></i>
        </li>
    {{ else }}
        <li class="text-center list-group-item">
            <p> Sorry there are currently no comments to display.</p>
        </li>
    {{/each}}
    </ul>
</section>
<script src="/public/js/forum.js"></script>
