<p> {{ datePosted }} </p>
<p> {{{ contentToHtml content }}} </p>
<ul class="nav nav-pills">
    <li>
        <i onclick="likeComment(event, '{{ _id }}')" class="fa fa-thumbs-up" aria-hidden="true"></i>
        <span class="badge">{{ likes.length }}</span>
    </li>
    <li>
        <i onclick="dislikeComment(event, '{{ _id }}')" class="fa fa-thumbs-down" aria-hidden="true"></i>
        <span class="badge">{{ dislikes.length }}</span>
    </li>
</ul>
{{#if isOwner}}
<span>
    <i onclick="editComment('{{ _id }}')" class="fa fa-pencil" aria-hidden="true"></i>
    <i onclick="deleteComment('{{ _id }}')" class="fa fa-trash-o" aria-hidden="true"></i>
</span>
{{/if}}
<i class="fa fa-comments" aria-hidden="true"></i>
