<div class="row">
	<div id="your-forum-panel" class="col-md-4">
		<header id="your-forum-panel-header" class="row">
			<p class="col-md-6 col-md-offset-3">
				Your Forums
			</p>
			<p class="col-md-3">
				<a href="/forums/create">
					<i class="fa fa-plus-square-o landing-header-icon" aria-hidden="true"></i>
				</a>
			</p>
		</header>
		<ul class="list-group">
			{{#each forum}}
				<li class="list-group-item">
					<a href="forums/{{this._id}}">{{ this.title }}</a>
				</li>
			{{else}}
				<li class="text-center list-group-item">
					<p>
						No forums
					</p>
				</li>
				<li class="text-center list-group-item">
					<a href="/forums/create">
						<i class="fa fa-plus" aria-hidden="true"></i>
					</a>
				</li>
			{{/each}}
		</ul>
	</div>
	<div class="col-md-8">
		<header id="community-forum-panel-header" class="row">
			<p class="col-md-6 col-md-offset-3">
				<a href="/forums">
	                Community Forums
				</a>
			</p>
			<span class="col-md-3">
                <select id="forums-filter">
                    <option value="recent">Most Recent</option>
                    <option value="popular">Popular</option>
                </select>
			</span>
		</header>
		<ul id="community-forum-list" class="list-group">
			{{#each communityForum}}
				<li class="list-group-item">
					<a href="forums/{{this._id}}">{{ this.title }}</a>
				</li>
			{{else}}
				<li class="text-center list-group-item">
					<p>
						No forums
					</p>
				</li>
			{{/each}}
		</ul>
	</div>
</div>
<script src="/public/js/landingPage.js"></script>
